{% extends "Base.html" %}

{% block titulo %} LISTADO {% endblock %}


{% block contenido %}
bloglista
<br>

{% for listaPost in posts %}

<hr>
<a href="{% url 'blog:detalleblog' listaPost.id %}">{{listaPost.titulo}}</a>

<a href="{% url 'blog:editarblog' listaPost.id %}">EDTAR</a>

<a href="{% url 'blog:eliminar' listaPost.id %}">ELIMINAR</a>



{% endfor %}

<a class="pointer-events-auto ml-8 rounded-md bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" href="{% url 'blog:crearblog' %}">CREAR</a>
{% endblock %}